<!--
主目录搜索栏
 @date 2016/3/27
 @author Carl

 @note
 @depend
 @modify
 版权所有.(c)2008-2016.广州市森锐电子科技有限公司
 -->
<html xmlns:th="http://www.thymeleaf.org">
<script type="application/javascript">
    seajs.use("~/search/mainCategoryContent.js", function(c) {
        c.init();
    });
</script>
<div class="categories-section main-grid-border">
    <div class="container">
        <h2 class="head">主目录</h2>
        <div class="category-list">
            <div id="parentVerticalTab" class="resp-vtabs hor_1" style="display: block; width: 100%; margin: 0px;">
                <ul class="resp-tabs-list hor_1" style="margin-top: 3px;" th:each="category:${categories}">
                    <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-0" role="tab"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);"
                            th:text="${selectId.equals(category.id)}?'1':'2'">
                    </li>
                    <!--<li class="resp-tab-item hor_1 resp-tab-active" aria-controls="hor_1_tab_item-1" role="tab"
                        style="border-color: rgb(193, 193, 193); background-color: white;">Electronics &amp; Appliances
                    </li>
                    <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-2" role="tab"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">Cars
                    </li>
                    <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-3" role="tab"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">Bikes
                    </li>
                    <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-4" role="tab"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">Furniture
                    </li>
                    <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-5" role="tab"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">Pets
                    </li>
                    <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-6" role="tab"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);">Books, Sports
                        &amp; Hobbies
                    </li>
                    <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-7" role="tab"
                        style="background-color: rgb(245, 245, 245);">Fashion
                    </li>
                    <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-8" role="tab"
                        style="background-color: rgb(245, 245, 245);">Kids
                    </li>
                    <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-9" role="tab"
                        style="background-color: rgb(245, 245, 245);">Services
                    </li>
                    <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-10" role="tab"
                        style="background-color: rgb(245, 245, 245);">Jobs
                    </li>
                    <li class="resp-tab-item hor_1" aria-controls="hor_1_tab_item-11" role="tab"
                        style="background-color: rgb(245, 245, 245);">Real Estate
                    </li>
                    <a href="all-classifieds.html">All Ads</a>-->
                </ul>
                <div class="resp-tabs-container hor_1" style="border-color: rgb(193, 193, 193);">
                    <span class="active total" style="display:block;" data-toggle="modal"
                          data-target="#myModal"><strong>All USA</strong> (Select your city to see local ads)</span>

                    <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-0"
                        style="border-color: rgb(193, 193, 193); background: none rgb(245, 245, 245);"><span
                            class="resp-arrow"></span>Mobiles</h2>

                    <div class="resp-tab-content hor_1" aria-labelledby="hor_1_tab_item-0">
                        <div class="category">
                            <div class="category-img">
                                <img src="images/cat1.png" title="image" alt=""></img>
                            </div>
                            <div class="category-info">
                                <h4>Mobiles</h4>
                                <span>5,12,850 Ads</span>
                                <a href="all-classifieds.html">View all Ads</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="sub-categories">
                            <ul>
                                <li><a href="mobiles.html">mobile phones</a></li>
                                <li><a href="mobiles.html">Tablets</a></li>
                                <li><a href="mobiles.html">Accessories</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                    <h2 class="resp-accordion hor_1 resp-tab-active" role="tab" aria-controls="hor_1_tab_item-1"
                        style="border-color: rgb(193, 193, 193); background-color: white;"><span
                            class="resp-arrow"></span>Electronics &amp; Appliances</h2>

                    <div class="resp-tab-content hor_1 resp-tab-content-active" aria-labelledby="hor_1_tab_item-1"
                         style="display:block">
                        <div class="category">
                            <div class="category-img">
                                <img src="images/cat2.png" title="image" alt=""/>
                            </div>
                            <div class="category-info">
                                <h4>Electronics &amp; Appliances</h4>
                                <span>2,01,850 Ads</span>
                                <a href="all-classifieds.html">View all Ads</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="sub-categories">
                            <ul>
                                <li><a href="electronics-appliances.html">Computers &amp; accessories</a></li>
                                <li><a href="electronics-appliances.html">Tv - video - audio</a></li>
                                <li><a href="electronics-appliances.html">Cameras &amp; accessories</a></li>
                                <li><a href="electronics-appliances.html">Games &amp; Entertainment</a></li>
                                <li><a href="electronics-appliances.html">Fridge - AC - Washing Machine</a></li>
                                <li><a href="electronics-appliances.html">Kitchen &amp; Other Appliances</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                    <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-2"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);"><span
                            class="resp-arrow"></span>Cars</h2>

                    <div class="resp-tab-content hor_1" aria-labelledby="hor_1_tab_item-2">
                        <div class="category">
                            <div class="category-img">
                                <img src="images/cat3.png" title="image" alt=""/>
                            </div>
                            <div class="category-info">
                                <h4>Cars</h4>
                                <span>1,98,080 Ads</span>
                                <a href="all-classifieds.html">View all Ads</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="sub-categories">
                            <ul>
                                <li><a href="cars.html">Commercial Vehicles</a></li>
                                <li><a href="cars.html">Other Vehicles</a></li>
                                <li><a href="cars.html">Spare Parts</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                    <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-3"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);"><span
                            class="resp-arrow"></span>Bikes</h2>

                    <div class="resp-tab-content hor_1" aria-labelledby="hor_1_tab_item-3">
                        <div class="category">
                            <div class="category-img">
                                <img src="images/cat4.png" title="image" alt=""/>
                            </div>
                            <div class="category-info">
                                <h4>Bikes</h4>
                                <span>6,17,568 Ads</span>
                                <a href="all-classifieds.html">View all Ads</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="sub-categories">
                            <ul>
                                <li><a href="bikes.html">Motorcycles</a></li>
                                <li><a href="bikes.html">Scooters</a></li>
                                <li><a href="bikes.html">Bicycles</a></li>
                                <li><a href="bikes.html">Spare Parts</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                    <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-4"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);"><span
                            class="resp-arrow"></span>Furniture</h2>

                    <div class="resp-tab-content hor_1" aria-labelledby="hor_1_tab_item-4">
                        <div class="category">
                            <div class="category-img">
                                <img src="images/cat5.png" title="image" alt=""/>
                            </div>
                            <div class="category-info">
                                <h4>Furniture</h4>
                                <span>1,05,168 Ads</span>
                                <a href="all-classifieds.html">View all Ads</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="sub-categories">
                            <ul>
                                <li><a href="furnitures.html">Sofa &amp; Dining</a></li>
                                <li><a href="furnitures.html">Beds &amp; Wardrobes</a></li>
                                <li><a href="furnitures.html">Home Decor &amp; Garden</a></li>
                                <li><a href="furnitures.html">Other Household Items</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                    <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-5"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);"><span
                            class="resp-arrow"></span>Pets</h2>

                    <div class="resp-tab-content hor_1" aria-labelledby="hor_1_tab_item-5">
                        <div class="category">
                            <div class="category-img">
                                <img src="images/cat6.png" title="image" alt=""/>
                            </div>
                            <div class="category-info">
                                <h4>Pets</h4>
                                <span>1,77,816 Ads</span>
                                <a href="all-classifieds.html">View all Ads</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="sub-categories">
                            <ul>
                                <li><a href="pets.html">Dogs</a></li>
                                <li><a href="pets.html">Aquariums</a></li>
                                <li><a href="pets.html">Pet Food &amp; Accessories</a></li>
                                <li><a href="pets.html">Other Pets</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                    <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-6"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);"><span
                            class="resp-arrow"></span>Books, Sports &amp; Hobbies</h2>

                    <div class="resp-tab-content hor_1" aria-labelledby="hor_1_tab_item-6">
                        <div class="category">
                            <div class="category-img">
                                <img src="images/cat7.png" title="image" alt=""/>
                            </div>
                            <div class="category-info">
                                <h4>Books, Sports &amp; Hobbies</h4>
                                <span>9,58,458 Ads</span>
                                <a href="all-classifieds.html">View all Ads</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="sub-categories">
                            <ul>
                                <li><a href="books-sports-hobbies.html">Books &amp; Magazines</a></li>
                                <li><a href="books-sports-hobbies.html">Musical Instruments</a></li>
                                <li><a href="books-sports-hobbies.html">Sports Equipment</a></li>
                                <li><a href="books-sports-hobbies.html">Gym &amp; Fitness</a></li>
                                <li><a href="books-sports-hobbies.html">Other Hobbies</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                    <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-7"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);"><span
                            class="resp-arrow"></span>Fashion</h2>

                    <div class="resp-tab-content hor_1" aria-labelledby="hor_1_tab_item-7"
                         style="border-color: rgb(193, 193, 193);">
                        <div class="category">
                            <div class="category-img">
                                <img src="images/cat8.png" title="image" alt=""/>
                            </div>
                            <div class="category-info">
                                <h4>Fashion</h4>
                                <span>3,52,345 Ads</span>
                                <a href="all-classifieds.html">View all Ads</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="sub-categories">
                            <ul>
                                <li><a href="fashion.html">Clothes</a></li>
                                <li><a href="fashion.html">Footwear</a></li>
                                <li><a href="fashion.html">Accessories</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                    <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-8"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);"><span
                            class="resp-arrow"></span>Kids</h2>

                    <div class="resp-tab-content hor_1" aria-labelledby="hor_1_tab_item-8"
                         style="border-color: rgb(193, 193, 193);">
                        <div class="category">
                            <div class="category-img">
                                <img src="images/cat9.png" title="image" alt=""/>
                            </div>
                            <div class="category-info">
                                <h4>Kids</h4>
                                <span>8,45,298 Ads</span>
                                <a href="all-classifieds.html">View all Ads</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="sub-categories">
                            <ul>
                                <li><a href="kids.html">Furniture And Toys</a></li>
                                <li><a href="kids.html">Prams &amp; Walkers</a></li>
                                <li><a href="kids.html">Accessories</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                    <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-9"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);"><span
                            class="resp-arrow"></span>Services</h2>

                    <div class="resp-tab-content hor_1" aria-labelledby="hor_1_tab_item-9"
                         style="border-color: rgb(193, 193, 193);">
                        <div class="category">
                            <div class="category-img">
                                <img src="images/cat10.png" title="image" alt=""/>
                            </div>
                            <div class="category-info">
                                <h4>Services</h4>
                                <span>7,58,867 Ads</span>
                                <a href="all-classifieds.html">View all Ads</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="sub-categories">
                            <ul>
                                <li><a href="services.html">Education &amp; Classes</a></li>
                                <li><a href="services.html">Web Development</a></li>
                                <li><a href="services.html">Electronics &amp; Computer Repair</a></li>
                                <li><a href="services.html">Maids &amp; Domestic Help</a></li>
                                <li><a href="services.html">Health &amp; Beauty</a></li>
                                <li><a href="services.html">Movers &amp; Packers</a></li>
                                <li><a href="services.html">Drivers &amp; Taxi</a></li>
                                <li><a href="services.html">Event Services</a></li>
                                <li><a href="services.html">Other Services</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                    <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-10"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);"><span
                            class="resp-arrow"></span>Jobs</h2>

                    <div class="resp-tab-content hor_1" aria-labelledby="hor_1_tab_item-10"
                         style="border-color: rgb(193, 193, 193);">
                        <div class="category">
                            <div class="category-img">
                                <img src="images/cat11.png" title="image" alt=""/>
                            </div>
                            <div class="category-info">
                                <h4>Jobs</h4>
                                <span>5,74,547 Ads</span>
                                <a href="all-classifieds.html">View all Ads</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="sub-categories">
                            <ul>
                                <li><a href="jobs.html">Customer Service</a></li>
                                <li><a href="jobs.html">IT</a></li>
                                <li><a href="jobs.html">Online</a></li>
                                <li><a href="jobs.html">Marketing</a></li>
                                <li><a href="jobs.html">Advertising &amp; PR</a></li>
                                <li><a href="jobs.html">Sales</a></li>
                                <li><a href="jobs.html">Clerical &amp; Administration</a></li>
                                <li><a href="jobs.html">Human Resources</a></li>
                                <li><a href="jobs.html">Education</a></li>
                                <li><a href="jobs.html">Hotels &amp; Tourism</a></li>
                                <li><a href="jobs.html">Accounting &amp; Finance</a></li>
                                <li><a href="jobs.html">Manufacturing</a></li>
                                <li><a href="jobs.html">Part - Time</a></li>
                                <li><a href="jobs.html">Other Jobs</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                    <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-11"
                        style="border-color: rgb(193, 193, 193); background-color: rgb(245, 245, 245);"><span
                            class="resp-arrow"></span>Real Estate</h2>

                    <div class="resp-tab-content hor_1" aria-labelledby="hor_1_tab_item-11"
                         style="border-color: rgb(193, 193, 193);">
                        <div class="category">
                            <div class="category-img">
                                <img src="images/cat12.png" title="image" alt=""/>
                            </div>
                            <div class="category-info">
                                <h4>Real Estate</h4>
                                <span>98,156 Ads</span>
                                <a href="all-classifieds.html">View all Ads</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="sub-categories">
                            <ul>
                                <li><a href="real-estate.html">Houses</a></li>
                                <li><a href="real-estate.html">Apartments</a></li>
                                <li><a href="real-estate.html">PG &amp; Roommates</a></li>
                                <li><a href="real-estate.html">Land &amp; Plots</a></li>
                                <li><a href="real-estate.html">Shops - Offices - Commercial Space</a></li>
                                <li><a href="real-estate.html">Vacation Rentals - Guest Houses</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
</html>