<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{styles/common/jquery.uls.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{styles/common/font-awesome.min.css}"/>
<!--首页品牌-->
<div th:each="brand : ${brands}" class="col-md-2 focus-grid">
    <a th:href="${brand.id}">
        <div class="focus-border">
            <div class="focus-layout">
                <div class="focus-image"><i th:class="'fa fa-' + ${brand.cssName}"></i></div>
                <h4 class="clrchg" th:text="${brand.name}"></h4>
            </div>
        </div>
    </a>
</div>
</html>